{% extends 'base-admin.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>DescCourt</th>
                <th>DescLong</th>
                <th>ImageP</th>
                <th>ImageSec1</th>
                <th>ImageSec2</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.descCourt }}</td>
                <td>{{ produit.descLong }}</td>
                <td>{{ produit.imageP }}</td>
                <td>{{ produit.imageSec1 }}</td>
                <td>{{ produit.imageSec2 }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
